body {
font-family: Verdana;
}
.titleContainer {
    background-image: url("images/sky-grass-banner.jpg")
    border-radius: 15px;
    border width: 0px;
    border-style: solid;
}
.container {
    box-sizing: border-box;
    border-style: solid;
    border-color: darkgray;
    border-width: 0px;
    width: 80%;
}
.subContainer {
    padding-bottom: 20px;
    padding-left: 25px;
}
#forecastRow {
    border-style: solid;
    border-color: black;
    border-width: 0px;
    background-color: #a8d9f9;
    border-radius: 15px;
}
.forecast {
    font-family: "Helvetica Neue";
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 1px;
    width: 32%;
    padding: 2%;
    float: left;
    margin: 2px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    text-align: center;
}
#mapCanvas {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 97%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 15px;

}
h2 {
    font-family: Arial;
    font-color: black;
    font-size: 20pt;
}
h3 {
    font-family: Arial;
    font-color: black;
    font-size: 15pt;
    font-size: 15pt;
}